.row
  .container
    %h2.text-center Welcome to my blog
.row
  .col-md-6
    .well.text-right
      = link_to 'Alpha blog', articles_path
  .col-md-6
    .well.text-left 
      = link_to 'About!', about_path